.intro{
  position: relative;
  display: inline-block;

  .intro-title{
    margin-top:23px;
    margin-bottom: 17px;
    font-family: Gotham;
    font-size: 55px;
    font-weight: 200;
    text-align: center;
    color: #ffffff;

    display: none;
  }

  .intro-description{
    margin:auto;
    max-width:543px;
    font-family: Gotham-Book;
    font-size: 16px;
    text-align: center;
    color: #ffffff;

    display: none;
  }

  .intro-logo{
    position: relative;
    top:0;
    transform: translateX(-25%);
    left: 25%;
    width: 252px;
    height: 124px;
  }
}