.search{
  text-align: center;
  padding-bottom: 131px;
  padding-top: 65px;
  #search-bar-one{
    padding: 16px 162px 15px 20px;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 500;
    color: #9b9b9b;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
  }
  #search-bar-two{
    padding: 16px 79px 15px 20px;
    margin: 0 10px;
    font-family: Gotham;
    font-size: 14px;
    font-weight: 500;
    color: #9b9b9b;
    object-fit: contain;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
  }
  button{
    border-radius: 4px;
    background-color: #ff5f5f;
    border: 0;
    box-shadow: 0 12px 21px 0 rgba(0, 0, 0, 0.24);
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: top center;
    width:77px;
    height: 45px;
    padding: 11px 26px 10px 27px;
  }
}