.venue-photo-list{
  position:relative;
  display: flex;
  justify-content: center;
}
.venue-photo-card-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  list-style-type: none;
  margin:0;
}
.venues-cards{
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1024px){
  .venues-cards {
    justify-content: center;
  }
}

.venue-photo-cards{
  display: inline-block;
  margin: 20px;
  margin-right: 0;
  width:290px;
  height:290px;
  position:relative;
  &:hover{
    .venue-photo-uplader,.venue-photo-uploader-name{
      display: inline-block;
      z-index: 99999;
      font-size: 14px;
      font-weight:500;
      font-family: Gotham;
    }
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height:100%;
      top:0;
      left:0;
      background-color: rgba(18, 25, 95, 0.5);
    }
  }
}

.venue-photo-uplader{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  text-align: center;
  background-color:red;
  width:65px;
  height:65px;
  overflow:hidden;
}
.venue-photo-card-background-image{
  position:relative;
  width:100%;
  height:100%;
}
.venue-photo-card{
  width: 290px;
  height:290px;
  position: relative;
  display: inline-block;
}
.venue-photo-uploader-image{
  left:50%;
  position:absolute;
  top:50%;
  right:50%;
  bottom:50%;
  transform:translate(-50%,-50%) rotate(45deg);
}
.venue-photo-uploader-name{
  display: none;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-75%);
  color:#FFF;
  text-align: center;
}