.detail-page-lists{
  position: relative;
  flex-direction: row;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .detail-page-lists {
    display: flex;
  }
}

.detail-page-photo-list-container{
  flex:2 2 22px;
  justify-content: center;
}
.detail-page-tip-list-container{
  flex:1 1 0;
  align-items: flex-start;
  display: flex;

  justify-content: center;

  padding: 40px 20px;
}

@media screen and (min-width: 1024px) {
  .detail-page-tip-list-container{
    justify-content: flex-start;
  }
}