
body{
  padding:0;
  margin:0;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.otf');
  font-weight: normal;
  font-style: normal;
}